/*
 * Global constants goes here
 */
:root {
    --primary-color: #42b983;
}


/*
 * Global CSS goes here
 */
html {
    height: 100%;
    background-color: #303030;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
    word-wrap: break-word;
}
#app {
    color: white;
    max-width: 90%;
    font-family: Source Sans Pro, Helvetica, sans-serif;
    text-align: center;
}
#app p {
    text-align: justify;
}
.headerInfo {
    margin: auto;
}
